interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.constrafor.com/public_api/v1/insurance-policy?updated_after=2000-01-01T00%3A00%3A00.000000Z
  response:
    body:
      string: '[{"id": 215907, "insurance_requests": [{"id": 64935, "start_date":
        null, "project": {"id": 42087, "name": "Austin Moore", "number": "-Fallback-scrubbed-kDwqjBtIQs",
        "client_id": null, "created_at": "-Fallback-scrubbed-gpXwlxbktqyFGmtFHihDDpegPKp",
        "updated_at": "2026-07-21T22:02:24.302508Z"}, "subcontractor": {"id": "412017",
        "name": "Kayla Goodwin", "created_at": "-Fallback-scrubbed-eIZYkbnpMayZcyyVgAATJRrfXcf",
        "updated_at": "2026-08-04T18:02:24.992613Z"}, "created_at": "-Fallback-scrubbed-onhZDFpIrVVhOObqPgwOYWucrAx",
        "updated_at": "2026-07-21T22:02:24.058783Z"}], "type": "-Fallback-scrubbed-suozscPOcYslwaDGi",
        "status": "-Fallback-scrubbed-CNQCgcws", "insurance_carrier_name": null, "policy_number":
        null, "submitted_on": null, "approved_on": null, "expiration_date": "-Fallback-scrubbed-efCjfwWpHO",
        "created_at": "-Fallback-scrubbed-nAriPSLoTKQEXwnNNzpsPAJtDHp", "updated_at":
        "2026-07-21T20:32:30.607343Z"}, {"id": 215908, "insurance_requests": [{"id":
        64935, "start_date": null, "project": {"id": 42087, "name": "Austin Moore",
        "number": "-Fallback-scrubbed-kDwqjBtIQs", "client_id": null, "created_at":
        "-Fallback-scrubbed-gpXwlxbktqyFGmtFHihDDpegPKp", "updated_at": "2026-07-21T22:02:24.302508Z"},
        "subcontractor"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.constrafor.com/public_api/v1/insurance-policy/215907
  response:
    body:
      string: '{"id": 215907, "insurance_requests": [{"id": 64935, "start_date": null,
        "project": {"id": 42087, "name": "Austin Moore", "number": "-Fallback-scrubbed-kDwqjBtIQs",
        "client_id": null, "created_at": "-Fallback-scrubbed-gpXwlxbktqyFGmtFHihDDpegPKp",
        "updated_at": "2026-07-21T22:02:24.302508Z", "type": "-Fallback-scrubbed-LQzRaKy",
        "active": false, "description": "-Fallback-scrubbed-QhaGoBqKgBjZFIhZBkLKYTvfpwolUT",
        "address": null}, "subcontractor": {"id": "412017", "name": "Kayla Goodwin",
        "description": null, "address": {"line1": "-Fallback-scrubbed-nKGWjhxQOxOnSGODMcn",
        "city": "Richardsonmouth", "state": "-Fallback-scrubbed-Aj", "country": "-Fallback-scrubbed-bPZ",
        "postal_code": "98808", "location": null}, "contact_person": "-Fallback-scrubbed-",
        "contact_email": "-Fallback-scrubbed-lSYmdTzcnFZzsfXQ", "contact_phone": null,
        "contact_fax": "-Fallback-scrubbed-", "federal_tax_id": "-Fallback-scrubbed-",
        "created_at": "-Fallback-scrubbed-eIZYkbnpMayZcyyVgAATJRrfXcf", "updated_at":
        "2026-08-04T18:02:24.992613Z"}, "documents": []}], "type": "-Fallback-scrubbed-suozscPOcYslwaDGi",
        "status": "-Fallback-scrubbed-CNQCgcws", "insurance_carrier_name": null, "policy_number":
        null, "submitted_on": null, "approved_on": null, "expiration_date": "-Fallback-scrubbed-efCjfwWpHO",
        "created_at": "-Fallback-scrubbed-nAriPSLoTKQEXwnNNzpsPAJtDHp", "updated_at":
        "2026-07-21T20:32:30.607343Z", "insurance_carrier_naic": null, "limits": {},
        "additional_insureds": null, "comment": "-Fallback-scrubbed-"}'
    headers:
      Allow:
      - GET, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.constrafor.com/public_api/v1/insurance-policy/177266
  response:
    body:
      string: '{"id": 177266, "insurance_requests": [{"id": 55686, "start_date": null,
        "project": {"id": 38723, "name": "Penny Graham", "number": "-Fallback-scrubbed-vcJrnyRmJZ",
        "client_id": null, "created_at": "-Fallback-scrubbed-rHgbZKxeHpbKGHcoZRAgcwDuoKu",
        "updated_at": "2026-07-15T20:21:42.191026Z", "type": "-Fallback-scrubbed-LQzRaKy",
        "active": false, "description": "-Fallback-scrubbed-eIagDrncqSQyHbbBqnQpabOOOoeLTnultVulCDRANVVVefEESIeLbIUCWnVCcbzFXYfbDnSPJbUXkicLjNdKeenmcwzLgp",
        "address": null}, "subcontractor": {"id": "412017", "name": "Kayla Goodwin",
        "description": null, "address": {"line1": "-Fallback-scrubbed-nKGWjhxQOxOnSGODMcn",
        "city": "Richardsonmouth", "state": "-Fallback-scrubbed-Aj", "country": "-Fallback-scrubbed-bPZ",
        "postal_code": "98808", "location": null}, "contact_person": "-Fallback-scrubbed-",
        "contact_email": "-Fallback-scrubbed-lSYmdTzcnFZzsfXQ", "contact_phone": null,
        "contact_fax": "-Fallback-scrubbed-", "federal_tax_id": "-Fallback-scrubbed-",
        "created_at": "-Fallback-scrubbed-eIZYkbnpMayZcyyVgAATJRrfXcf", "updated_at":
        "2026-08-04T18:02:24.992613Z"}, "documents": [{"id": 2474572, "name": "Brian
        Beck", "url": "-Fallback-scrubbed-zFOikuypANTzifZmCIZoRqpWrJTjAqJNyoamPmZBZWGDSBvVDwHMMpuiIGLdJxhxqISurnliWEGvwbLwkLfOpjgfydmYmxalqOpBdjUTGPzfoWjUoPqZVrJAtbUmJaRXlpSdqGWZSXZwseVgehnePAHlqOkAwLEitjJKubBjPrpkUGVlSnPumOchuBlwFsAOHexCEmZluFVOvzHSHyNIKreAofdBoMsJYFQoCcTeFVpvSRqJiILFfUMDlRMDCjdnEJXfXosscoaXPXWQYIwCsMhBzqvXfGrDbEbfRQjcEiYyNgCyJKkBJAWXPqdgRFxtQxodpJLrUcvyWVUzHHpzbUrZLbWMlkrqjhzKPqxMbfmVtUZeDOBlswqnohhVPfDPCjZPeYpDDyDJsWl"},
        {"id": 2474573, "name": "Matthew Smith", "url": "-Fallback-scrubbed-[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.constrafor.com/public_api/v1/insurance-policy/175523
  response:
    body:
      string: '{"id": 175523, "insurance_requests": [{"id": 55240, "start_date": null,
        "project": {"id": 38621, "name": "Samantha Huber", "number": "-Fallback-scrubbed-nQyPNyTPtIXO",
        "client_id": null, "created_at": "-Fallback-scrubbed-RxpwkaMalEUVbOUoKHfdijTdgbA",
        "updated_at": "2026-03-04T22:03:25.238896Z", "type": "-Fallback-scrubbed-LQzRaKy",
        "active": false, "description": "-Fallback-scrubbed-pKCDpbsQLHhVNUfEqbXwvXRqpngNANSWnCeWgLCjeXXfxXFWjZoYTbowfKijIDlgzbvvWddHXTatmo",
        "address": {"line1": "-Fallback-scrubbed-zrwCJkcnGgwfX", "city": "Port Johnshire",
        "state": "-Fallback-scrubbed-Aj", "country": "-Fallback-scrubbed-SA", "postal_code":
        "86628", "location": {"longitude": -101.183714, "latitude": 59.849411}}},
        "subcontractor": {"id": "465350", "name": "Casey Thompson", "description":
        "-Fallback-scrubbed-lRgOOVFDxGbehjLQHJEEwCVEDMXUPBBZTOzIAbxudpBaLDlLyxtDesxvysOwggYvBjDuHhifquKfmstVoFsbNlsZo",
        "address": {"line1": "-Fallback-scrubbed-QrKaUytgvlEVDKVjgaGihuL", "city":
        "Lake Maria", "state": "-Fallback-scrubbed-IK", "country": "-Fallback-scrubbed-SA",
        "postal_code": "84331", "location": {"longitude": -114.850846, "latitude":
        -24.9527365}}, "[...]
[...]
